html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    color: #666;
}
@font-face {
  font-family: spray;
  src: url(./assets/TrueLies.ttf);
}
/* =========================  NAVBAR  ============================= */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 5px 0;
    margin: 0;
    z-index: 100;
    background-color: #fff;
}

.navbar {
    display: flex;
}
.navbar li {
    list-style-type: none;
    margin-right: 2rem;
}
.logo {
    font-family: spray;
}
.navbar li a{
    font-size: 20px;
    /* font-family: spray; */
    text-decoration: none;
    color: #111;
    font-weight: 600;
}

.unique-1:hover {
    border-bottom: 3px solid #444;
}

.hidden {
    display: none;
}

.unhidden {
    display: block;
}
.unique-0 {
    border-bottom: 3px solid #444;

}
/*//////////////////////////////////////////////////////////////*/

/* ================  PARALLAX BACKGROUND  =====================*/
/* main pic background position control */
.main-pic{
    position: relative;
    /* opacity: 0.7; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-pic {
    background-color: grey;
    background-image: url('./assets/pic30.jpg');
    min-height: 70vh;
}
/* inner div of the parallax pic */
.pic-text {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 25px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

/* arrow icon */
i {
    color: #fff;
    margin-top: 30vh;
    cursor: pointer;
}

/* bouncing icon */
i {
    animation: bounce 5s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-40px);
  }
  60% {
    transform: translateY(-20px);
  }
}

.tagline {
    letter-spacing: 3px;
    padding-left: 20px;
    max-width: 25%;
    text-align: initial;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
    background: rgba(0 ,0 ,0, 0.5);
}
.name-div {
    display: flex;
    justify-content: flex-start;
    padding-left: 2vw;
    font-family: spray;
    font-size: 1.25em;
    color: #111;
    max-width: 26%;
    border-bottom: 5px solid #111;
    margin: 20px;
    font-weight: bold;
}
/*///////////////////////////////////////////////////////////////////// */

/* =====================  LANDING SECTIONS OF TEXT  =================== */
/* styles for all sections */
.section {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.dark-section-inner {
    max-width: 50%;
}
/*//////////////////////////////////////////////////////////////*/

/* ========================  MODAL  ===========================*/
/* the opacity background */
.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}
/* the actual form of the modal */
.modal-content {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    position: relative;
    /* top: 10vh; */
    /* left: 33vw; */
    background-color: #f4f4f4;
    margin: 15vh auto;
    padding: 20px;
    min-height: 60%;
    /* max-height: 60%; */
    min-width: 50%;
    /* max-width: 50%; */ 
    box-shadow: 0 5px 8px 0 rgb(0, 0, 0), 0 7px 20px 0 rgb(0, 0, 0);
}

.map-style {
    height: 350px;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #f4f4f4;
    padding: 20px;
}

.postUl {
    
    list-style-type: none;
    padding: 0;
}
/* modal's close button */
.closeBtn {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    color: darkgray;
    float: right;
    font-size: 30px;
    text-decoration: none;
    cursor: default;
}

.cSpan {
    text-decoration: underline;
}
.cSpan:hover {
    color: #666;
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
}
/* toggle unhiding the modals */
.unhide {
    display: flex;
    justify-content: center;
}

.modal-forms {
    margin: 20px;
}

/* fieldset of the modals */
fieldset {
    display: flex;
    justify-content: center;
    border: none;
}
/* /////////////////////////////////////////////////////////////////// */

/* =======================  LOGGED IN VIEWS  ========================= */
/* Create a Game view */
.viewEnabled {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.createTeamForm {
    background: wheat;
}

.updateTeamForm {
    margin: 10px;
}

#post-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}




/*//////////////////////////////////////////////////////////////////// */

/* =======================  FIND GAME VIEWS  ========================= */
/* container of individual posts */
#view-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   margin: 20vh auto 20vh auto;
   width: 90vw;
}

.profile-view {
    flex-direction: column;
}

.createdGames, .joinedGames {
    /* font-family: spray; */
    text-decoration: underline;
    text-decoration-color: #111;
    color: #e65722;
    
}
/* containers for profiles sections */
#ownPosts {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    
}
.post-item {
   color: #fff;
    display: flex;
    justify-content: center;
    /* background: rgba(0, 0, 0, 0.3); */
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 350px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    background: rgba(0 ,0 ,0, 0.5);
    /* background: linear-gradient(245deg, rgba(244, 107, 69, 0.8), rgba(238, 168, 73, 0.9));
     */
    /* border: 2px solid rgba(0 ,0 ,0, 0.5); */
    
}

.post-item:hover{
        background: linear-gradient(245deg, rgba(244, 107, 69, 0.7), rgba(238, 168, 73, 0.9));
        /* border-color: black; */
        color: black;
}

.post-item-list ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    padding: 0;
}


/*//////////////////////////////////////////////////////////////////// */

.postDes div, .preDes div {
    text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:250px;
    margin: 0 auto;
}

.post-item-list ul li {
    text-align: center;
    padding-bottom: 10px;
}

.class {
    width: 500px;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #f4f4f4;
    margin: 15vh auto;
    padding: 20px;
   
    box-shadow: 0 5px 8px 0 rgb(0, 0, 0), 0 7px 20px 0 rgb(0, 0, 0);
}

.orange {
    color: #ff6600;
}

.preventScroll {
    overflow: hidden;
}








/* ==========================  MEDIA QUERIES  ========================== */
@media(max-width: 2450px) {
    .name-div {
        max-width: 30%;
    }
    .tagline {
        max-width: 30%;
    }
}
@media(max-width: 2110px) {
    .name-div {
        max-width: 35%;
    }
    .tagline {
        max-width: 35%;
    }
}
@media(max-width: 2110px) {
    .name-div {
        max-width: 40%;
    }

    .tagline {
        max-width: 40%;
    }
}
@media(max-width: 1600px) {
    .name-div {
        max-width: 45%;
    }
}

@media(max-width: 1460px) {
    .name-div {
        max-width: 50%;
    }

    .tagline {
        max-width: 40%;
    }

    .pic-text {
        top: 10%;
    }
}
@media(max-width: 1260px) {
    .name-div {
        max-width: 55%;
    }

    .tagline {
        max-width: 55%;
    }

}
@media(max-width: 1150px) {
    .name-div {
        max-width: 60%;
    }

    .tagline {
        padding: 0;
        max-width: 70%;
    }

}
@media(max-width: 1150px) {
    .name-div {
        max-width: 65%;
    }

    .tagline {
        padding: 0;
        max-width: 65%;
    }

}
@media(max-width: 970px) {
    .name-div {
        max-width: 70%;
    }

    .tagline {
        padding: 0;
        max-width: 70%;
    }

}

@media(max-width: 910px) {
    .name-div {
        max-width: 75%;
    }

    .tagline {
        padding: 0;
        max-width: 75%;
    }

}


@media(max-width: 800px) {
    .main-pic {
        /* min-height: 50vh; */

    }
    .name-div {
        display: flex;
        justify-content: center;
        font-size: 20px;
        max-width: 100%;
    }

    .tagline {
        /* display: none; */
        padding: 0;
        max-width: 100%;
    }
    .fas {
        display: none;
    }
    .pic-text {
        top:20%;
    }
}
@media(max-width: 500px) {
    .main-pic {
        min-height: 75vh;

    }
    .name-div {
        display: flex;
        justify-content: center;
        font-size: 10px;
        max-width: 100%;
    }

    .tagline {
        /* display: none; */
        font-size: 15px;
        padding: 0;
        max-width: 100%;
    }
    .fas {
        display: none;
    }
    .pic-text {
        top:35%;
    }

.modal-content {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #f4f4f4;
    padding: 20px;
    margin-top: 30vh;
    /* min-height: 100%; */
    /* max-height: 100%; */
    box-shadow: 0 5px 8px 0 rgb(0, 0, 0), 0 7px 20px 0 rgb(0, 0, 0);
    }
}
@media(max-width:568px) {
    /* .main-pic{
        background-attachment: scroll;
    } */



/* ===========  makes vertical view on phones  ========== */
.section {
    display: flex;
    flex-direction: column;
}
.dark-section-inner {
    max-width: 100%;;
}
/*////////////////////////////////////////////////////////*/


}

@media(max-width:320px) {
    .pic-text {
        top:30%;
    }
}







